<div class="container">
    <div class="header">
        <h1>Listagem de Pessoas</h1>
        <button mat-raised-button color="primary" (click)="addUser()">Adicionar Usuário</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Nome Column -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
          <!-- Contatos Column -->
          <ng-container matColumnDef="contatos">
            <th mat-header-cell *matHeaderCellDef> Contatos </th>
            <td mat-cell *matCellDef="let element">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Contatos ({{ element.contacts.length }})
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let contact of element.contacts">
                  <div class="contact">
                    <div class="contact-data">
                      <p>{{ contact.type }}: {{ contact.value }}</p>
                    </div>
                    <div class="contact-action">
                      <button mat-icon-button color="primary" matTooltip="Editar Contato"  (click)="editContact(contact)">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button color="accent" matTooltip="Deletar Contato"  (click)="deleteContact(contact.id)">
                          <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                 
                </div>
              </mat-expansion-panel>
            </td>
          </ng-container>
        <!-- Ações Column -->
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button  matTooltip="Adicionar Contatos ao Usuário" color="primary" (click)="addContato(element)">
                <mat-icon>contacts</mat-icon>
            </button>
            <button mat-icon-button color="primary" matTooltip="Editar Usuário"  (click)="editUser(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="accent" matTooltip="Deletar Usuário"  (click)="deleteUser(element.id)">
                <mat-icon>delete</mat-icon>
              </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>



